.features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.features-title {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  letter-spacing: -0.04em;
}

.features p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  color: #81afdd;
}

@media screen and (max-width: 1250px) {
  .features {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 650px) {
  .features-title {
    font-size: 19px;
  }

  .features p {
    font-size: 15px;
  }
}
